<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="">
      <img src="/assets/orange-tech-consulting-large.png" alt="Orange Tech Consulting">
    </a>
    <a role="button" class="navbar-burger" aria-label="menu" (click)="toggleNav()" [ngClass]="{'is-active': navActive}" data-target="navMenu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
    <div class="navbar-menu" [ngClass]="{'is-active': navActive}" id="navMenu">
      <div class="navbar-end">
        <a class="navbar-item" [routerLink]="link.url" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngFor="let link of links">{{link.label}}</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="/documentation/overview/start/">
            Services
          </a>
          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item" [routerLink]="link.url" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngFor="let link of servicesLinks">{{link.label}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>