<div class="image">
    <picture>
        <source srcset="/assets/websites/asla/asla-land.jpg">
        <img src="/assets/websites/asla/asla-land.jpg" alt="aslaland homepage" />
    </picture>
</div>`
<div class="content">
    <p>A blog for the American Society of Landscape Architects</p>
    <h3 class="title">A Custom Blog</h3>
    <p>Asla Land is the blog website for the American Society of Landscape Architects. It was built with Uikit, and an ASP.NET backend.</p>
    <p>We worked on this in collaberation with some folks that handled all the .aspx backend work.</p>
    <h4>Our Role</h4>
    <p>We built the frontend in HTML, CSS, and jQuery.</p>
    <p>It features responsive design as well as HTML5 coding standards.</p>
</div>