<section class="hero bg-is-lightblue">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{title}}
      </h1>
      <h2 class="subtitle">
        {{description}}
      </h2>
    </div>
  </div>
</section>
<section class="hero" id="websites">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <img src="/assets/copywriting.jpg" />
        </div>
        <div class="column content">
          <h2 class="title">
            Help your customers engage with your business
          </h2>
          <h3 class="subtitle">
            Copy-writing is the most basic and important part of any project  
          </h3>
          <p>We can't all be Shakespeare, but here at Orange Circle Company we strive to be... or not to be?</p>
          <p>Writing good copy is something we take very seriously. All the copy we write for our clients is both pleasing to read and SEO rich.</p>
          <p>Some of the other services we offer here at Orange Circle Company such as <a routerLink="../seo">SEO</a> or building a <a routerLink="../websites">website</a> rely heavily on our copy-writing services.</p>
          <app-contact-btn color="#7ed6df"></app-contact-btn>
        </div>
      </div>
    </div>
  </div>
</section>