<section class="hero bg-is-orange">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{title}}
      </h1>
      <h2 class="subtitle">
        {{description}}
      </h2>
    </div>
  </div>
</section>
<section class="hero" id="websites">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <img src="/assets/macbook-and-coffee.jpg" />
        </div>
        <div class="column">
          <h2 class="title">
            Affordable Coding Services
          </h2>
          <h3 class="subtitle">
            Let us build your next idea
          </h3>
          <p>Have an idea for a website or an app?</p>
          <p>We at Orange Circle Company want to help your ideas become reality. We produce websites and webapps and mobile apps that work across all devices.</p>
          <app-contact-btn></app-contact-btn>
        </div>
      </div>
    </div>
  </div>
</section>