<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Who We Are
      </h1>
      <h2 class="subtitle">
        and the things we stand for
      </h2>
    </div>
  </div>
</section>
<section class="container">
  <div class="content">
    <p>We are a small start up with a passion for tech and creativity.</p>
    <p>We want to work with you to improve your business or idea.</p>
    <p>- The Orange Circle Company</p>
  </div>
</section>