<section class="hero bg-is-pink">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{title}}
      </h1>
      <h2 class="subtitle">
        {{description}}
      </h2>
    </div>
  </div>
</section>
<section class="hero" id="websites">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <img src="/assets/camera-and-plant-on-wooden-table.jpg" />
        </div>
        <div class="column">
          <h2 class="title">
            You know what they say...
          </h2>
          <h3 class="subtitle">
            A photo is worth a thousand words
          </h3>
          <p>Its true though, high quality photos are a must for any business.</p>
          <p>Our photographers can help capture your business beautifully for the whole world to see.</p>
          <app-contact-btn color="#ff7979"></app-contact-btn>
        </div>
      </div>
    </div>
  </div>
</section>