<section class="hero bg-is-yellow">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{title}}
      </h1>
      <h2 class="subtitle">
        {{description}}
      </h2>
    </div>
  </div>
</section>
<section class="hero" id="websites">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <img src="/assets/consulting.jpg" />
        </div>
        <div class="column">
          <h2 class="title">
            Optimise your way of doing things
          </h2>
          <h3 class="subtitle">
            Helping Small Businesses just get started, or wanting to improve
          </h3>
          <p>We offer a variety of consulting services.</p>
          <p>We can help your business offer wifi to your customers. Or get your Point of Sale system set up so you can start selling fast.</p>
          <p>Even if you aren't sure if your business needs any consulting, we offer free initial consultations to let you know if we believe we could be a benefit to your business.</p>
          <app-contact-btn color="#f9ca24"></app-contact-btn>
        </div>
      </div>
    </div>
  </div>
</section>