<div class="image">
  <picture>
    <source srcset="/assets/websites/special-olympics/special-olympics-gms.jpg">
    <img src="/assets/websites/special-olympics/special-olympics-gms.jpg" alt="The Special Olympics GMS platform for displaying athlete stats across the country" />
  </picture>
</div>
<div class="content">
  <p>The Special Olympics GMS platform for displaying athlete stats across the country</p>
  <h3 class="title">Our Role</h3>

  <p>The Special Olympics GMS project is something we feel very fortunate to be part of. It was an AngularJS frontend that
    connected with a Microsoft build API for gathering and organizing athlete data.</p>
  <p>The application allows users to select a Delegation or select a Sport, and then from there view athletes results.</p>
  <p>We worked on 2 aspects of the project.</p>

  <h4>The Artwork</h4>
  <p>We prepared the dozens of Adobe illustrator vector files and converted them into web ready images for each of the sports</p>
  <img src="/assets/websites/special-olympics/basketball.jpg" />

  <h4>The Frontend</h4>
  <p>We also helped build the Frontend of the application. It is built with Uikit and custom CSS that we developed based
    on the designs of some talented designers.</p>
</div>