<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Contact
      </h1>
      <h2 class="subtitle">
        Leave us a message and we will get right back to you
      </h2>
    </div>
  </div>
</section>
<section class="container">
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h2 class="title">
          We will be up and running soon!
        </h2>
      </div>
    </div>
  </section>

  <form class="contact-form" name="contact" data-netlify="true">

    <div class="field">
      <label class="label">Name</label>
      <div class="control">
        <input class="input" type="text" placeholder="Hi, who are you?">
      </div>
    </div>

    <div class="field">
      <label class="label">Email</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input " type="email" placeholder="So we can email you back" value="">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <!-- <span class="icon is-small is-right">
          <i class="fas fa-exclamation-triangle"></i>
        </span> -->
      </div>
    </div>

    <div class="field">
      <label class="label">Subject</label>
      <div class="control">
        <div class="select">
          <select 
          [(ngModel)]="subject" 
          [ngModelOptions]="{standalone: true}"
          [ngClass]="{'is-danger': contactForm.controls['subject'].errors && !contactForm.controls['subject'].pristine}">
            <option *ngFor="let subject of subjects" [value]="subject">{{subject}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label">Message</label>
      <div class="control">
        <textarea class="textarea" placeholder="Textarea"></textarea>
      </div>
    </div>

    
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link" type="submit">Submit</button>
      </div>
      <div class="control">
        <button class="button is-text">Cancel</button>
      </div>
    </div>


    <!-- <p>Form value: {{ contactForm.value | json }}</p> -->
  </form>