<div class="image">
    <picture>
        <source srcset="/assets/websites/fwcse/ficcadenti-waggoner-castle-home-page.jpg">
        <img src="/assets/websites/fwcse/ficcadenti-waggoner-castle-home-page.jpg" alt="fwcse.com homepage" />
    </picture>
</div>
<div class="content">
    <p>One of the earliest websites we built.</p>
    <h3 class="title">WordPress & CSS Frontend</h3>
    <p>This website was a project we worked on back in 2012 and as it stands on its own, it may not be visually too impressive, but there is a story behind this project that helped shape what Orange Circle Company was to become.</p>
    <p>This WordPress theme was developed on-top of an existing theme called <a href="https://wordpress.org/themes/happy-cyclope/" rel="nofollow">Happy Cyclope</a></p>
    <p>Back in 2012 Javascript and actual programming was still very new to us, and so we would try to solve all problems using only HTML and CSS.</p>
    <p>The Ficcadenti Waggoner and Castle website as it exists today was literally built without changing and PHP or Javascript Code. It is the exact same code as the Happy Cyclope theme, but with modified CSS.</p>
    <p>To put this in perspective this is the exact same thing that <a href="http://www.csszengarden.com/219/" rel="nofollow">CSS Zen Garden</a> illustrates on their website.</p>
    <p>The reason we feature this work as a former client is to show both how much we have grown skill wise, as well as the problem solving skills and creativity used in any project we tackle.</p>
</div>