<section class="hero bg-is-purple">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{title}}
      </h1>
      <h2 class="subtitle">
        {{description}}
      </h2>
    </div>
  </div>
</section>
<section class="hero" id="websites">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <img src="/assets/google-analytics-adwords.jpg" />
        </div>
        <div class="column content">
          <h2 class="title">
            Google Ads
          </h2>
          <h3 class="subtitle">
            Spread awareness of your business effectively  
          </h3>
          <p>Google Ads are a fantastic way to spread awareness of your business online.</p>
          <p>Leveraging both the Google Search Network and the Google Display Network we can help your business get noticed much faster than just using traditional <a routerLink="../seo">SEO</a> methods.</p>
          <p>It is important to have both a SEO strategy and a Google Ads strategy that work well together. We at Orange Circle Company can make that happen.</p>
          <app-contact-btn color="#e056fd"></app-contact-btn>
        </div>
      </div>
    </div>
  </div>
</section>