<section class="hero bg-is-blue">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{title}}
      </h1>
      <h2 class="subtitle">
        {{description}}
      </h2>
    </div>
  </div>
</section>
<section class="hero" id="websites">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <img src="/assets/website-mac.jpg" />
        </div>
        <div class="column">
          <h2 class="title">
            Represent your business
          </h2>
          <h3 class="subtitle">
            Your website should be a reflection of your business
          </h3>
          <p>The average web desinger/developer just makes websites.</p>
          <p>Profressionals create effective websites and expierences that are focused on real results.</p>
          <p>Here at Orange Circle Company, we are seasoned profressionals with over 8 years expierence.</p>
          <p>A good website can provide your potential customers with everything they need to know and help them feel comfortable when choosing your business.</p>
          <p>We have a number of website solutions to fit any kind of business, whether you are making a website for the first time or its time for an upgrade, Orange Circle Company has you covered.</p>

          <p>Contact us today and we can begin to strategize together on how to better use the web to your business's advantage.</p>
          <app-contact-btn color="#6a9cff"></app-contact-btn>
        </div>
      </div>
    </div>
  </div>
</section>