<section class="hero bg-is-blue">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{title}}
      </h1>
      <h2 class="subtitle">
        {{description}}
      </h2>
    </div>
  </div>
</section>
<section class="hero" id="websites">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <img src="http://www.placehold.it/600x400" />
        </div>
        <div class="column">
          <h2 class="title">
            Represent your business
          </h2>
          <h3 class="subtitle">
            Your website should be a reflection of your business
          </h3>
          <p>A good website can provide your potential customers with everything they need to know and help them feel comfortable when choosing your business.</p>
          <p>We have a number of website solutions to fit any kind of business, whether you are making a website for the first time or its time for an upgrade, Orange Circle Company has you covered.</p>
          <app-contact-btn></app-contact-btn>
        </div>
      </div>
    </div>
  </div>
</section>