@import '../../../node_modules/bulma-pricingtable/dist/bulma-pricingtable.min.css';

.pricing-table {
    padding: 1em;
}

.pricing-items {
    margin-top: 3rem;
}
.pricing-item {
    padding: 2rem;
    margin: 3em 1em;
    transition: all .3s;
    cursor: pointer;
    outline: none;
}
.pricing-item:hover {
    background-color: #efefef;
}

.pricing-item.active {
    transform: scale(1.2);
    box-shadow: 0 2px 11px 0px #0000002e;
    border-radius: 3px;
}

.pricing-item.active:hover {
    background-color: #fff;
}