<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Pricing
      </h1>
      <h2 class="subtitle">
        We are just getting started!
      </h2>
    </div>
  </div>
</section>
<section class="container">
  <h2>What that means for you</h2>
  <h3>Every service we provide will be $40 an hour, simple as that.</h3>
  <p>We will also provide <strong>basic websites</strong> for $300.</p>
  <p>We will also provide <strong>Monthly Google Ads Support (formally Google AdWords)</strong> for $20 an hour.</p>
</section>

<!-- <div class="container pricing-items">

<div class="columns">
  <div class="column pricing-item has-text-centered" routerLink="coding" (click)="setPricing('code')">
    <p class="title is-4">Code Consulting</p>
    <p class="subtitle is-6">Let our experience help save your company time</p>
  </div>
  <div class="column pricing-item has-text-centered is-warning" routerLink="copy-writing" (click)="setPricing('copywriting')">
    <p class="title is-4">Copy Writing</p>
    <p class="subtitle is-6">Lets face it, writing is hard, not for us though</p>
  </div>
  <div class="column pricing-item has-text-centered" routerLink="coding" (click)="setPricing('art')">
    <p class="title is-4">Artwork</p>
    <p class="subtitle is-6">Our Artists are trained in both traditional & digital arts</p>
  </div>
  <div class="column pricing-item has-text-centered" routerLink="coding" (click)="setPricing('website')">
  <p class="title is-4">Websites</p>
  <p class="subtitle is-6">Sometimes all you need is a website, we got you covered</p>
</div>
</div>

</div> -->

<router-outlet></router-outlet>
