<section class="hero is-primary is-large is-bold hero-main">
    <!-- Hero content: will be in the middle -->
    <canvas #canvas id="canvas"></canvas>

    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                Your Tech Partners
            </h1>
            <h2 class="subtitle">
                <i class="fas fa-wrench"></i> Engineers <i class="fas fa-paint-brush"></i> Creatives <i class="fas fa-coffee"></i>
                <span class="hidden-tea"> Powered by Coffee</span>
            </h2>
        </div>
    </div>

    <!-- Hero footer: will stick at the bottom -->
    <!--<div class="hero-foot">-->
    <!--<nav class="tabs">-->
    <!--<div class="container">-->
    <!--<ul>-->
    <!--<li class="is-active"><a><i class="fas fa-home"></i> Overview</a></li>-->
    <!--<li><a href="#coding"><i class="fas fa-wrench"></i> Coding</a></li>-->
    <!--<li><a href="#copywriting"><i class="fas fa-comment"></i> Copywriting</a></li>-->
    <!--<li><a href="#artwork"><i class="fas fa-paint-brush"></i> Artwork</a></li>-->
    <!--<li><a href="#websites"><i class="fas fa-globe"></i>Websites</a></li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--</nav>-->
    <!--</div>-->
</section>

<div class="background">
    <section class="container pushing-up">
        <div class="column">
            <div class="round-tile round-tile--full-width height-auto is-orange has-text-centered" routerLink="/about">
                <!-- <div class="title motto">The Motto</div> -->
                <div class="description">
                    <blockquote>Effective solutions on an affordable budget</blockquote>
                    <p>We work 1 on 1 with our clients to solve their needs without breaking the bank.</p>
                    <br />
                    <p>we look forward to hearing from you.</p>
                </div>
                <span class="icon">
                    <i class="fas fa-arrow-right"></i>
                </span>
            </div>
        </div>
    </section>


    <section class="container">
        <h2 class="title">Our Main Services</h2>
        <div class="columns">
            <div class="column is-one-third">
                <div class="round-tile is-orange" routerLink="/coding">
                    <div class="title">Coding</div>
                    <div class="description">Learn More about what we code</div>
                    <span class="icon">
                        <i class="fas fa-arrow-right"></i>
                    </span>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="round-tile is-blue" routerLink="/websites">
                    <div class="title">Websites</div>
                    <div class="description">Learn more about creating or updating your website with us</div>
                    <span class="icon">
                        <i class="fas fa-arrow-right"></i>
                    </span>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="round-tile is-yellow" routerLink="/consulting">
                    <div class="title">Consulting</div>
                    <div class="description">Learn about all the other services we provide</div>
                    <span class="icon">
                        <i class="fas fa-arrow-right"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-one-third">
                <div class="round-tile is-green" routerLink="/seo">
                    <div class="title">SEO</div>
                    <div class="description">Improve your website's position on major search engines such as Google and Bing</div>
                    <span class="icon">
                        <i class="fas fa-arrow-right"></i>
                    </span>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="round-tile is-purple" routerLink="/adwords">
                    <div class="title">AdWords</div>
                    <div class="description">Develop a adword strategy that aligns with your business goals</div>
                    <span class="icon">
                        <i class="fas fa-arrow-right"></i>
                    </span>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="round-tile is-pink" routerLink="/photography">
                    <div class="title">Photography</div>
                    <div class="description">Every business needs glamour shots</div>
                    <span class="icon">
                        <i class="fas fa-arrow-right"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="columns">
            <!-- <div class="column is-one-half">
      <div class="round-tile is-grey" routerLink="/artwork">
          <div class="title">Artwork</div>
          <div class="description">A unique look can make a lasting impact</div>
          <span class="icon">
              <i class="fas fa-arrow-right"></i>
          </span>
      </div>
  </div> -->
            <div class="column is-one-half">
                <div class="round-tile is-lightblue" routerLink="/copywriting">
                    <div class="title">Copywriting</div>
                    <div class="description">Conveying information via text is the most basic and important medium</div>
                    <span class="icon">
                        <i class="fas fa-arrow-right"></i>
                    </span>
                </div>
            </div>
        </div>
    </section>
</div>