<section class="hero is-centered">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="title">
            Coding
          </h1>
          <h2 class="subtitle">
            we code thousands of lines so you don't have to
          </h2>
          <p>With over 7 years of experience we are experts in the field and are ready to tackle any coding project.</p>
          <div class="content">
            <h4>Standard Web Technologies</h4>
            <ul>
              <li>HTML</li>
              <li>JavaScript</li>
              <li>CSS</li>
            </ul>
            <h4>How We Can Help</h4>
            <ul>
              <li>Angular</li>
              <li>Code Consulting</li>
              <li>Full Scale Web Applications</li>
              <li>Unit Testing</li>
              <li>Unit Testing</li>
            </ul>
          </div>
        </div>
        <div class="column">
          <img src="http://www.placehold.it/600x400" />
        </div>
      </div>
    </div>
  </div>
</section>