<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{title}}
      </h1>
      <h2 class="subtitle">
        {{description}}
      </h2>
    </div>
  </div>
</section>
<section class="hero" id="websites">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <img src="http://www.placehold.it/600x400" />
        </div>
        <div class="column">
          <h2 class="title">
            Represent your business
          </h2>
          <h3 class="subtitle">
            Your website should be a reflection of your business
          </h3>
          <p>Did you know that the top 5 results of a Google search get 75% of the clicks, and over 30% of all users click the very 1st result? SEO is no joke, if your business is not already taking SEO seriously then maybe its time to talk.</p>
          <p>It takes a lot of work to get to the #1 spot in a Google search, but the payoff is well worth it.</p>
          <p>SEO is the very first step to improving your position in a Google search, and we are Orange Circle Company will help you get there.</p>
          <app-contact-btn></app-contact-btn>
        </div>
      </div>
    </div>
  </div>
</section>