<section class="hero bg-is-green">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{title}}
      </h1>
      <h2 class="subtitle">
        {{description}}
      </h2>
    </div>
  </div>
</section>
<section class="hero" id="websites">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <img src="/assets/google-analytics.jpg" />
        </div>
        <div class="column">
          <h2 class="title">
            SEO made easy
          </h2>
          <h3 class="subtitle">
            Show up on the first page of Google
          </h3>
          <p>Ever wonder how many people visit your website? With our analytics services we can provide detailed interactive reports that explain in detail who is visiting your website and from where.</p>
          <app-contact-btn color="#badc58"></app-contact-btn>
        </div>
      </div>
    </div>
  </div>
</section>